@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

#ext_menu-c .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-c.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-c .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-c .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-c .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
#slider-d P {
  color: #ffffff;
}
#slider-d H1 {
  color: #ffffff;
}

#ext_menu-g .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-g .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-g .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-g .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

#ext_menu-g .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-g.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-g .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-g .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-g .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
#content5-h .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-h .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-h .mbr-article {
  color: #fff;
}
#content5-h .mbr-article P {
  text-align: center;
}
#content1-u DIV {
  text-align: center;
}

#ext_menu-p .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-p.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-p .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-p .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-p .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
#content5-r .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-r .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-r .mbr-article {
  color: #fff;
}
#content5-r .mbr-article P {
  text-align: center;
}
#content1-t P {
  text-align: center;
}

#ext_menu-w .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-w.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-w .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-w .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-w .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

#ext_menu-10 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-10.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-10 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-10 .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
#pricing-table1-11 .mbr-plan__details {
  text-align: center;
}
#pricing-table1-11 UL {
  text-align: center;
}

#ext_menu-13 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-13.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-13 .mbr-navbar__section {
  background: #2c2c2c;
}
#ext_menu-13 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-13 .mbr-navbar__items a {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
