<section class="engine"><a href="https://mobirise.co/g">create a website for free</a></section><section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-after-navbar" id="form1-9" data-rv-view="22" style="background-color: rgb(193, 193, 193);">

    <div class="mbr-section__container mbr-section__container--std-padding container" style="padding-top: 93px; padding-bottom: 93px;">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2" data-form-type="formoid">
                        <div class="mbr-header mbr-header--center mbr-header--std-padding">
                            <h2 class="mbr-header__text">Sign Up</h2>
                        </div>
                        <div data-form-alert="true"></div>
                        <form action="/addUser" method="GET" data-form-title="Autentification">
                            <input type="hidden" value="MHh8Sp4RCkeJ6r9m2WHCb6HwehUbVxTFKaAvDe2ClSGt4Ilu9bYHZDRzzzXWg/IvKUDqC4rjRKmq0nSNX1GgOxBD9ghIyuLr8vhExEQMYupsZuvGYCGxEM+HpoNbVErL" data-form-email="true">

                            <div class="form-group">
                                <input type="text" class="form-control" name="name" required="" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="surname" required="" placeholder="Surname">
                            </div>
                            <div class="form-group">
                                <input type="date" class="form-control" name="bday" placeholder="Birthday date">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="login" required="" placeholder="Login">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password" required="" placeholder="Password" data-form-field="Password" id="pass1" onblur="checkPassword()">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="password2" required="" placeholder="confirm your password" data-form-field="Password" id="pass2" onblur="checkPassword()">

                            </div>
                            <div class="mbr-buttons mbr-buttons--right"><button type="submit" class="mbr-buttons__btn btn btn-lg btn-danger">SIGN UP</button></div>
                        </form>
                        <h2 id="holder"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>